node_modules/
.nx/
dist/
*.tflite
.firebase/
.env
.env.*
*.log
apps/manager-mobile/android/app/build/
apps/manager-mobile/android/build/
apps/manager-mobile/android/.gradle/
apps/manager-mobile/android/local.properties
apps/manager-mobile/android/app/.cxx/
apps/manager-mobile/ios/Pods/
.next/
out/
functions/lib/
.expo/
*.apk
*.ipa
